/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;900&family=Roboto&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;500&family=Nunito:wght@400;500;600;900&family=Roboto&display=swap');


body {
    font-family: 'Nunito', sans-serif;
    background-color: #FAFAF5;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    color: inherit;
}

/* ============================================ */
/* Header */
header h2 {
    color: #42CD8C;
    font-weight: 500;
}

.header-nav li {
    margin: 0 2px;
}

/* .header-nav a {
    border: solid 2px #42CD8C;
    padding: 4px 12px;
    font-size: 14px;
    font-family: 'Fredoka', sans-serif;
    border-radius: 100px;
    font-weight: 500;
    color: #42CD8C;
} */

.header-btn {
    font-family: 'Fredoka', sans-serif;
    font-size: 0.8rem;
    color: #42CD8C;
    border-color: #42CD8C;
    border-radius: 100px;
    padding: 0px 10px;
    font-weight: 500;
    background-color: transparent;
    border-style: solid;
}

.header-btn-registrar {
    border-width: .15rem;
    align-items: center;
}

.header-btn-entrar {
    padding: .1px 16px;
    align-items: center;
    font-size: 0.8rem;
}

.modal-link-sem-conta {
    color: #242424;
    text-decoration: underline;
    text-decoration-color: #adadad;
    margin: 45px;

}

.modal-entrar svg {
    margin: 0 12px 0 0;
}

/* ================================================ */
/* Modal Entrar */

/* .modal-entrar a{
    border-radius: 100px;
    padding: 10px 30px;
    margin:10px;
} */

.modal-entrar h5 {
    letter-spacing: .2rem;
    font-weight: 600;
    font-size: 1.5rem;
    background-color: white;
    /* line-height: 2rem; */
}

.modal-btn-entrar {
    margin: 10px;
    background-color: #FBFBF7;
    color: black;
    text-transform: uppercase;
    border-radius: 100px;
    width: 90%;
    padding: 20px 0;
    box-shadow: 0 8px 40px 0 rgb(0 0 0 / 10%);
    border-color: rgb(228, 227, 227);
    font-weight: 600;
}

.modal-btn-entrar-facebook {
    background-color: #4F72BF;
    color: whitesmoke;

}





/* .modal-body h5{

} */

/* .botao-fechar {
    position: absolute;
    top: 20px;
    left: 120px;
} */





/* ================================================ */
.main-title {
    color: #42CD8C;
    font-weight: 700;
}

.main-description {
    /* letter-spacing: .05rem; */
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Fredoka', sans-serif;
    font-size: 1.1rem;
    /* font-size: 5vmin; */
    font-weight: 400;
    word-spacing: .1rem;
    margin: 40px 0;
}


/* Main links */
.main-links {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    margin: 20px;
    margin-bottom: 50px;
}


.main-links a {
    text-transform: uppercase;
    border-radius: 100px;
    padding: 12px;
    margin: 10px 10px 5px 10px;
    font-weight: bold;
    /* width: 80%; */
    letter-spacing: calc(1em * 0.08);
}

.main-link-registrar {
    color: white;
    background: linear-gradient(130deg, #ffa634, #ff435b);
    box-shadow: 0 8px 40px 0 rgb(255 102 92 / 45%);
    border: none;

}

.main-link-ler-mais {
    color: black;
    /* border: solid 2px rgba(0, 0, 0, 0.801); */
    border: 1px solid #000000;
    /* background:#fff; */
    /* box-shadow: 0 8px 40px 0 rgb(0 0 0 / 10%); */
}

/* ================================================ */
/* Subseção */
/* Subtítulo */
.secao {
    min-height: 100vh;
}

.secao-titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 40px;
}

.secao-titulo h2 {
    font-size: 1.5rem;
    font-weight: bolder;
    color: #242424;
    margin-top: 30px;

}

/* ================================================ */
/* Subseção */
/* Conteúdo */
.secao-conteudo h3 {
    font-size: 1.3rem;
    font-weight: bold;
    color: #242424;
    margin: 20px;
}

.secao-conteudo p {
    font-size: 1.1rem;
    color: #242424;
    margin: 20px;
}

.secao-img img {
    width: 50%;
}

@media screen and (max-width: 375px) {
    .main-title {
        font-size: 1.5rem;
        margin: 35px 25px 10px;

    }

    .img-cover {
        width: 70%;
        border-radius: 10px;

    }

    .main-description {
        /* font-size: 1.1rem !important; */
        /* padding-right: 100px; */
        margin: 25px 10px;
    }


}

@media screen and (min-width: 1300px) {
    .main-title {
        font-size: 2.2rem;
        text-align: left;
        margin-top: 30px;
    }

    .main-description {
        text-align: left;
        font-size: 1.7rem !important;
        padding-right: 100px;
    }

    .link-ler-mais {
        text-transform: uppercase;
        border: solid 2px rgba(0, 0, 0, 0.801);
        border-radius: 70px;
        /* padding: 15px 100px; */
        color: black;

    }
}

@media screen and (min-width: 1600px) {
    main {
        height: 100vh;
    }

    .header-top {
        padding: 20px 0;
    }

    header h2 {
        color: #42CD8C;
        font-weight: 700;
    }

    .secao h2 {
        font-size: 3rem;
        font-weight: 700;
    }

    .header-nav li {
        margin: 0 10px;
    }

    .header-nav a {
        border: solid 2px #42CD8C;
        padding: 8px 20px;
        font-size: 18px;
        font-weight: 500;
        color: #42CD8C;
    }

    .main-title {
        font-size: 3rem;
        text-align: left;
        margin-top: 120px;

    }

    .main-description {
        text-align: left;
        font-size: 2rem !important;
        padding-right: 100px;
        margin-bottom: 20px;

    }

    .img-cover {
        border-radius: 10px;
        margin-top: 60px;
        width: 90%;
    }

    /* Main links */
    .main-links {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: left;
        margin: 0;
        /* margin: 20px; */
        /* margin-bottom: 50px; */
    }

    .main-links a {
        padding: 15px 80px;
        margin: 10px 10px 5px 0;
        font-weight: bold;
        /* width: 80%; */

    }
}

.main-button {
    margin-top: 40px;
}



/* ========================================================================== */